{% extends "base.html" %}{% load staticfiles %}{% load bootstrap3 %}
{% bootstrap_css %}
{% block kms_head_custom_css %}
<style>
* {
  border-radius: 0 !important;
}
a:hover {
color: #000;
text-decoration: underline;
}

a:visited {
color: #000;
text-decoration: underline;
}

a {
color: #000;
<!--text-decoration: underline;-->
}

a:hover {
color: #000;
text-decoration: underline;
}

a {
color: #000;
}

input, textarea, input.form_control {
  font-size: 20px;

  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;

  background: none;
  border-bottom: 1px dashed #B14943;
}

#id_name, #id_email, #id_body  {
  font-size: 20px;

  border  : none;
  padding : 0 10px;
  margin  : 0;
  
  background: none;
  border-bottom: 1px dashed #B14943;
}

a:hover {
color: #f7594e;
}


#id_body  {
  font-size: 20px;

  border  : none;
  padding : 0 10px;
  margin  : 0;

  background: none;
  border-bottom: 1px dashed #B14943;
}
</style>

{% endblock kms_head_custom_css %}
{% block kms_body %}       
<div class="row">
  <div class="col-lg-6 col-md-6">

    <p><i class="fa fa-envelope"></i> <b>katia@ukata.me</b></p>
        <form action="/contact/" method="post" class="form">
      {% csrf_token %}
      <!--{% bootstrap_form form %}-->
      <div class="form-group">
        <label class="control-label" for="id_name">Your name</label><input class="form-control" id="id_name" maxlength="100" name="name" required="required" title="" type="text" />
      </div>
      <div class="form-group">
        <label class="control-label" for="id_email">Your email address</label><input class="form-control" id="id_email" maxlength="200" name="email" required="required" title="" type="email" />
      </div>
      <div class="form-group"><label class="control-label" for="id_body">Your message</label>
        <textarea class="form-control" cols="40" id="id_body" name="body"  required="required" rows="6" title=""></textarea>
      </div>
      <!--{% buttons %}-->
      <button type="submit" class="btn btn-primary">
      Send message
        </button>
    <!--{% endbuttons %}-->
</form>

  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    <img class="img-responsive" src="{% static "assets/img/home/contact.jpg" %}"/>

            </div>
        </div>

{% endblock kms_body %}
      
