{% extends "base.html" %}{% load staticfiles %}{% load bootstrap3 %}
{% bootstrap_css %}
{% block kms_head_custom_css %}
<style>
input.form-control {
  border-radius: 0 ;
}
a:hover {
color: #000;
text-decoration: underline;
}

a:visited {
color: #000;
text-decoration: underline;
}

a {
color: #000;
<!--text-decoration: underline;-->
}

a:hover {
color: #000;
text-decoration: underline;
}

a {
color: #000;
}

input, textarea, input.form_control {
  font-size: 20px;

  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;

  background: none;
  border-bottom: 1px dashed #B14943;
}

#id_name, #id_email, #id_body  {
  font-size: 20px;

  border  : none;
  padding : 0 10px;
  margin  : 0;
  
  background: none;
  border-bottom: 1px dashed #B14943;
}

#id_body  {
  font-size: 20px;

  border  : none;
  padding : 0 10px;
  margin  : 0;

  background: none;
  border-bottom: 1px dashed #B14943;
}
</style>

{% endblock kms_head_custom_css %}
{% block kms_body %}       
        <div class="row">
                    <div class="col-lg-6">
<h2>Katia Zawadzka</h2>
                <p><i class="fa fa-envelope"></i> <a href="mailto:katia@ukata.me">katia@ukata.me</a></p>
                <p><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/pub/katia-kru/104/273/b12">LinkedIn</a></p>
                <p><i class="fa fa-github-alt"></i> <a href="https://github.com/ukata">GitHub</a></p>
            </div>
                    <div class="col-lg-6">
            
<form action="/contact/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "envelope" %} Send message
        </button>
    {% endbuttons %}
</form>
            </div>



        </div>

{% endblock kms_body %}
      
